<div class="w3-container w3-lobster">
  <p class="w3-xxlarge">Wedding-Pics!!</p>
  </div>

<div class="row">

  <!-- Grid column -->
  <div class="col-md-12 d-flex justify-content-center mb-5">

    <button type="button" id="b" value="1" class="btn btn-outline-black waves-effect filter" 
    (click)="toggle1($event)" >Birthday Pics</button>
    <button type="button" id="cp" value="6" class="btn btn-outline-black waves-effect filter" data-rel="1"
      (click)="toggle2($event)">Celebrity Pics</button>
    <button type="button" id="co" value="7" class="btn btn-outline-black waves-effect filter" data-rel="2"
      (click)="toggle3($event)">Commercial Pics</button>
      <button type="button" id="fm" value="4" class="btn btn-outline-black waves-effect filter" data-rel="3"
      (click)="toggle8($event)">Pre Wedding Pics</button>
    <button type="button" id="fm" value="4" class="btn btn-outline-black waves-effect filter" data-rel="3"
      (click)="toggle4($event)">Fashion Male Pics</button>
    <button type="button" id="ff" value="5" class="btn btn-outline-black waves-effect filter" data-rel="4"
      (click)="toggle5($event)">Fashion Female Pics</button>
  

  </div>

</div>
<div class="row">    
  <ul>    
    <li *ngFor="let item of file">    
        <img src='assets/photo/Wedding/{{item}}' class="img" width="300" height="250">    
    </li>    
  </ul>    
</div>    