
	.w3-lobster {
		font-family: "Lobster", serif;
		text-align: center;
		color: white;
	  }
.img{      
  margin:6px 6px;      
  border: 4px solid #eee;      
  box-shadow:rgb(224, 199, 199) 1px 1px 8px 1px;      
  cursor: pointer      
     }      
 .modal-content {      
   width: 1000px !important;      
 }      
 ul { padding:0; width:1200px; margin:20px auto;margin-left: 80px}      
 li { display:inline;}  