<body>
	<div class="w3-container w3-lobster">
		<p class="w3-xxlarge">Slider-Menu!!</p>
	  </div>
<div id="responsive-admin-menu">
	
	
	<div id="logo"></div>

	<!--Menu-->
	<div id="menu" >
			<a routerLink="/welcome" title="Dashboard"><i class="icon-dashboard"></i><span> 
			Home</span></a>
			<a routerLink="/whoAmI" title="News"><i class="icon-bullhorn"></i><span> Who am I ?</span></a>
			<a routerLink="/contact"><i class="icon-file-alt"></i><span> Contact</span></a>
			<a routerLink="/blogsContent" title="Media" class="icon-bullhorn" name="media-sub"> 
      Blogs</a>
      <a routerLink="/bday" title="Admin Tools"><i class="icon-bullhorn"></i><span>  
        Photography</span></a>
			<!-- Other Contents Sub Menu -->
			<a  routerLink="/admin" title="Admin Tools"><i class="icon-cogs"></i><span>  
			Admin Tools</span></a>
  </div>
  







</div>
</body>


