@import url(https://fonts.googleapis.com/css?family=Open+Sans);

	/* body	*/
	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
		font-family: "Open Sans", Helvetica, sans-serif;
		background-color: white;
	}
	/* body	*/

	.w3-lobster {
		font-family: "Lobster", serif;
		text-align: center;
		color: white;
	  }
#responsive-admin-menu {
	float: right;
	width: 500px;
	position: relative;
	overflow: hidden;
	right: 450px;
	min-height: 550px;

}

#content-wrapper {
	width: auto;
	margin-left: 200px;
	height: 1500px;
	padding: 15px;
}

#responsive-admin-menu #responsive-menu {
	height: 50px;
	display: none;
	line-height: 50px;
	cursor: pointer;
	color:yellow;
	text-indent: 20px;
}


#responsive-admin-menu #responsive-menu .menuicon {
	color: yellow;
	font-size: 35px;
	position: absolute;
	right: 10px;
	top: 0px;
}
#responsive-admin-menu #logo {
	background-position: -0px -36px;
	width: 174px;
	height: 40px;
	margin: 10px;
  background: url('https://assets.codepen.io/assets/footer/codepen-logo-midgray.svg') no-repeat;
  -webkit-background-size: 146.66667px 25.83333px;
  background-size: 146.66667px 25.83333px;
}

/* Menu Styles */
#responsive-admin-menu #menu {

	width: 100%;
}
#responsive-admin-menu #menu a {
	border-bottom: 1px  yellow;
	font-size: 14px;
	text-decoration: none;
	display: block;
	padding: 12px;
	color: black;
	font-size: 25px;
	position: relative;
	font-weight: 700;
	overflow: hidden;
}
#responsive-admin-menu #menu a:hover {
	color: #0621f0;
	background-color:#fcfcfc;
}
#responsive-admin-menu #menu i {
	width: 16px;
	padding-right: 4px;
}
#responsive-admin-menu #menu div {
	display: none;
	width: 100%;
	background-color: #5c5d64;
	overflow: hidden;
}
#responsive-admin-menu #menu div a {
	color: #c0c0c0;
}
#responsive-admin-menu #menu div a:hover {
	color: #888888;
}
#responsive-admin-menu #menu a.submenu:before {
	font-family: FontAwesome;
	content: "\f054";
}
#responsive-admin-menu #menu a.downarrow:before {
	font-family: FontAwesome;
	content: "\f078";
}
#responsive-admin-menu #menu a.submenu:before {
	font-size: 14px;
	position: absolute;
	right: 15px;
	top: 17px;
}
/* Menu Styles */

@media screen and (max-width: 960px) {
	#responsive-admin-menu #responsive-menu {
		display: none;
	}
	#responsive-admin-menu #menu a span {
		display: inline-block;
	}
}
@media screen and (max-width: 800px) {
	#responsive-admin-menu #menu a span {
		display: none;
	}
	#responsive-admin-menu {
		float: left;
		width: 40px;
		position: relative;
	}
	#responsive-admin-menu {
		height: 100%;
	}
	#content-wrapper {
		margin-left: 40px;
	}
	#responsive-admin-menu #menu a.submenu:before {
		font-size: 6px;
		right: 5px;
	}
	#responsive-admin-menu #logo {
		/* background: url('../images/logo.png'); */
		background-position: -0px -0px;
		width: 29px;
		height: 26px;
		margin: 10px 10px 10px 5px;
	}
}
@media screen and (max-width: 480px) {
	#responsive-admin-menu {
		min-height: 50px;
		float: left;
		width: 100%;
		background-color: #404040;
		height: auto;
		position: static;
		top: 0;
	}
	#responsive-admin-menu #logo {
		display: none;
	}
	#responsive-admin-menu #menu a span {
		display: inline-block;
	}
	#content-wrapper {
		margin-left: 0;
		padding-top: 60px;
	}
	#responsive-admin-menu #responsive-menu {
		display: block;
	}
	#responsive-admin-menu #menu {
		display: none;
	}
	#responsive-admin-menu #menu a {
		color: #FFFFFF;
	}
	#responsive-admin-menu #menu a.submenu:before {
		font-size: 14px;
		right: 15px;
	}
}





