<div id="wrapper" class="">

    <div class="overlay" style="display: none;"></div>
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">

        <ul class="nav sidebar-nav">

            <img src="assets/images/elephant.jpg" height="90px" width="250px">
   
      
            <li>
                <a href="" [routerLink]="['/welcome']"><i class="glyphicon glyphicon-ok"></i>Welcome</a>
            </li>
            <li>
                <a href="" [routerLink]="['/whoAmI']"><i class="glyphicon glyphicon-ok"></i>Who Am I?</a>
            </li>
            <li>
                <a href="" [routerLink]="['/blogs']"><i class="glyphicon glyphicon-ok"></i> Blogs</a>
            </li>
            <li>
                <a href="" [routerLink]="['/contact']"><i class="glyphicon glyphicon-ok"></i> Contact us</a>
            </li>
         
           

        </ul>
    </nav> -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas" (click)="toggle($event)"> 
            
         <span class=" hamb-top "></span>
         <span class="hamb-middle "></span>
         <span class="hamb-bottom "></span>
      </button>

    </div>

</div>