html{
  height:100%;
}

body{
  
  background-color:#2590EB;
  height:100%;
}

.wrapper{
  margin-top: 120px;
  display:inline;
  float: right;
  /* margin-right: 100px; */
  /* width:100%;
  height:100%; */
  display:flex;
  align-items:baseline;
  justify-content:center;
}
.w3-lobster {
	font-family: "Lobster", serif;
	text-align: center;
	color: white;
  }
  .file-upload{

    height:100px;
    width:180px;
    border-radius: 200px;
    position:relative;
 
    display:flex;
    justify-content:center;
    align-items: center;  

    border:4px solid #FFFFFF;
    overflow:hidden;
    background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #FFFFFF;
    font-size:20px;
  }
    input[type='file']{

      height:200px;
      width:200px;
      position:absolute;
      top:0;
      left:0;
      opacity:0;
      cursor:pointer;

    }

    :hover{

      background-position: 0 -100%;

      color:#2590EB;

    }

