<div class="w3-container w3-lobster">
  <p class="w3-xxlarge">Upload Pics of Your Choice !!</p>
  </div>

<div class="wrapper">
    <div class="file-upload">
      <input type="file" (change)="onFileChanged($event)" multiple/>
      <i class="fa fa-arrow-up">Upload_Birthday</i>
    </div>
  </div>
  <div class="wrapper">
    <div class="file-upload">
      <input type="file" (change)="onFileChange($event)" multiple />
      <i class="fa fa-arrow-up">Upload_Celebrity</i>
    </div>
  </div>
  <div class="wrapper">
    <div class="file-upload">
      <input type="file"  (change)="onFile($event)" multiple/>
      <i class="fa fa-arrow-up">Upload Fashion_Female</i>
    </div>
  </div>
 
  <div class="wrapper">
    <div class="file-upload">
      <input type="file"  (change)="onFileChan($event)" multiple/>
      <i class="fa fa-arrow-up">Upload Fashion_Male</i>
    </div>
  </div>
  
  <div class="wrapper">
    <div class="file-upload">
      <input type="file" (change)="onFileCha($event)" multiple />
      <i class="fa fa-arrow-up">Upload Pre_Wedding</i>
    </div>
  </div>
  <div class="wrapper">
    <div class="file-upload">
      <input type="file" (change)="onFileCh($event)" multiple/>
      <i class="fa fa-arrow-up">Upload_commercial</i>
    </div>
  </div>
  <div class="wrapper">
    <div class="file-upload">
      <input type="file" (change)="onFileC($event)" multiple/>
      <i class="fa fa-arrow-up">Upload_Wedding</i>
    </div>
  </div>