body{
	font-family: Arial;
	margin:0;
	padding:15px;
	background-color: #883838;
}
*{
	box-sizing: border-box;
}
.row:after{
	content: '';
	display: table;
	clear: both;
}
header{
	background-color: #ffffff;
	padding:20px;
}
header h1{
	text-align: center;
	font-size:30px;
	color:#000000;
	margin:1.5 0px;
}
.w3-lobster {
	font-family: "Lobster", serif;
	text-align: center;
	color: white;
  }
h2{
	color:#000000;
margin:1.5 0px;	
}
.left-column{
float: left;
width: 75%;	
}

.right-column{
 width: 25%;
 float: right;
 padding-left:20px;
}
.card{
    padding: 20px;
    color: blue;
	background-color: #f5f7f3;
 margin-top:20px;
}

.card img{
	width: 100%;
}


.right-column .card img{
	margin-bottom: 100px;
}


footer{
	background-color: #dddddd;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}

/*responsive */

@media(max-width:300px){
	.left-column,.right-column{
    width: 100%;
    padding: 0px;
	}
}

