<div class="w3-container w3-lobster">
	<p class="w3-xxlarge">Welcome to the World of Bhushan-Blogs!!</p>
  </div>
<body *ngFor="let item of approvedApplications ">
 <div class="row">
 	<div class="left-column">
 	  <div class="card">
 		<h3><td>
      {{item.id}}.)Title:-&nbsp; {{item.title}}<br>
      <br>
      Date:- &nbsp;{{item.date}}
     </td></h3>
     
 
 		<img src="assets/images/marriage.jpg" alt="blog "/>
 		<h3>Author:- &nbsp;{{item.author}}</h3>
 		<h3>Blog:- &nbsp;{{item.post}}.</h3>
 	  </div>
 	 
 	</div>

 	<div class="right-column">
 		<div class="card">
 			 <h2>About Me</h2>
 			 <img src="assets/images/about-me.jpg" alt="me"/>
 			 <h4>I am Nitesh Bhushan Owner Of PhotographicMania</h4>
 		</div>
 		<!-- <div class="card"> -->
 			 <!-- <h3>Popular Post</h3> -->
 			 <!-- <img src="assets/images/popular-blog1.jpg" alt="popular"/> -->
 			 <!-- <img src="assets/images/popular-blog2.jpg" alt="popular"/>
 			 <img src="assets/images/popular-blog3.jpg" alt="popular"/> -->
 		<!-- </div> -->
 		<div class="card">
 			<h3>Follow Me</h3>
 		<!--Facebook-->
<button type="button" class="btn btn-fb"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
<br>
<!--Twitter-->
<button type="button" class="btn btn-tw"><i class="fab fa-twitter pr-1"></i> Twitter</button>
<br>
<!--Google +-->
<button type="button" class="btn btn-ins"><i class="fab fa-instagram pr-1"></i> Instagram</button>
<!--Pinterest-->
<br>
<!--WhatsApp-->
<button type="button" class="btn btn-whatsapp"><i class="fab fa-whatsapp pr-1"></i> Whatsapp</button>
 		</div>
 	</div>
 </div>


</body>