<div id="notInterested" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">

	  <!-- Modal content-->
	  <div class="modal-content">

		<div class="modal-body">
			<div class="w3-container w3-lobster">
				<p class="w3-xxlarge">Thanks for Choosing Us!</p>
				<p class="w3-xlarge">We will Contact you within 24Hrs!!</p>
			  </div>
		
		
		  <button type="button" class="btn btn-primary closed" data-dismiss="modal" (click)="sent($event)">Ok</button>
	
		</div>
	  </div>
	</div>
  </div>
  <div id="notInteresteds" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">

	  <!-- Modal content-->
	  <div class="modal-content">

		<div class="modal-body">
			<div class="w3-container w3-lobster">
				<p class="w3-xxlarge">Something Went Wrong!</p>
				<p class="w3-xlarge">Please Try again!!</p>
			  </div>
		
		
		  <button type="button" class="btn btn-primary closed" data-dismiss="modal" (click)="sent($event)">Ok</button>
	
		</div>
	  </div>
	</div>
  </div>
  <div class="w3-container w3-lobster">
	<p class="w3-xxlarge">Contact-Us!</p>
  </div>
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" ><label for="tab-1" class="tab"></label>
		<input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Contact Us</label>
		<div class="login-form">
		
			<div class="sign-up-htm">
				<div class="group">
					<label for="user" class="label">Name</label>
					<input id="user" type="text" class="input"  [(ngModel)]="name">
				</div>
				<div class="group">
					<label for="pass" class="label">Mobile No</label>
					<input id="user" type="text" class="input"  [(ngModel)]="mobileNo">
				</div>
				<div class="group">
					<label for="pass" class="label">Email-Id</label>
					<input id="user" type="text" class="input"   [(ngModel)]="email">
        </div>
        <div class="group">
					<label for="pass" class="label">Address</label>
					<input id="user" type="text" class="input"   [(ngModel)]="address">
				</div>
			
				<div class="group">
					<input type="button" class="button" (click)="saveData($event)" value="Sign Up">
				</div>
			
			</div>
		</div>
	</div>
</div>