
<div class="container">
  <div class="w3-container w3-lobster">
    <p class="w3-xxlarge">Welcome to world of Nitesh Bhushan PhotoMania</p>
  </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="assets/images/photo.jpg" alt="Los Angeles" style="width:100%; height: 460px;" >
      </div>

      <div class="item">
        <img src="assets/images/shadi.jpg" alt="Chicago" style="width:100%; height: 460px;">
      </div>
    
      <div class="item">
        <img src="assets/images/marriage.jpg" alt="New York" style="width:100%;height: 460px;">
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>