<div class="w3-container w3-lobster">
	<p class="w3-xxlarge">Write or Update new Blog !</p>
  </div>
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">NEW-BLOG</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">UPDATE-BLOG</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="pass" class="label">Title</label>
					<input id="pass" type="text" class="input"  [(ngModel)]="title">
        </div>
        <div class="group">
					<label for="user" class="label">Post</label>
					<input id="post" type="text" class="inputs" [(ngModel)]="post"  >
				</div>
				<div class="group">
					<label for="pass" class="label">Author</label>
					<input id="pass" type="text" class="input"  [(ngModel)]="author">
        </div>
        <div class="group">
					<label for="user" class="label">Date</label>
					<input id="user" type="date" class="input" [(ngModel)]="date">
				</div>
			
				<div class="group">
					<input type="button" class="button"  (click)="saveBlog($event)" value="Post New Blog">
				</div>
				<div class="hr"></div>
			
			</div>
			<div class="sign-up-htm">
				<div class="group">
					<label for="user" class="label" >Enter Id</label>
					<input id="user" type="text" class="input"  [(ngModel)]="id" >
				</div>
				<div class="group">
					<label for="pass" class="label">Title</label>
					<input id="pass" type="text" class="input"  [(ngModel)]="title">
				</div>
				<div class="group">
					<label for="pass" class="label">Post</label>
					<input id="pass" type="text" class="input"  [(ngModel)]="post">
				</div>
				<div class="group">
					<label for="pass" class="label">Author </label>
					<input id="pass" type="text" class="input"  [(ngModel)]="author">
        </div>
        <div class="group">
					<label for="pass" class="label">Date </label>
					<input id="pass" type="date" class="input"  [(ngModel)]="date">
				</div>
				
				<div class="group">
					<input type="button" class="button" (click)="updateBlog($event)" value="Submit">
				</div>
			
			</div>
		</div>
	</div>
</div>