<div class="w3-container w3-lobster">
	<p class="w3-xxlarge">Login & ChangePassword!!</p>
  </div>
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign-In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Change-Pwd</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="input" [(ngModel)]="username">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" [(ngModel)]="password">
				</div>
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>
				<div class="group">
					<input type="button" class="button"  (click)="checkLogin($event)" value="Sign In">
				</div>
				<div class="hr"></div>
			
			</div>
			<div class="sign-up-htm">
				<div class="group">
					<label for="user" class="label" >Username</label>
					<input id="user" type="text" class="input"  value="{{username}}" readonly>
				</div>
				<div class="group">
					<label for="pass" class="label">Old Password</label>
					<input id="pass" type="password" class="input" data-type="password" [(ngModel)]="passsword">
				</div>
				<div class="group">
					<label for="pass" class="label">New Password</label>
					<input id="pass" type="password" class="input" data-type="password" [(ngModel)]="newwpassword">
				</div>
				<div class="group">
					<label for="pass" class="label">Confirm Password</label>
					<input id="pass" type="password" class="input" data-type="password" [(ngModel)]="confirmpassword">
				</div>
				
				<div class="group">
					<input type="button" class="button" (click)="checkPassword($event)" value="Submit">
				</div>
			
			</div>
		</div>
	</div>
</div>