<!-- Grid row -->

<body>
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-12 d-flex justify-content-center mb-5">

      <button type="button" id="b" value="1" class="btn btn-outline-black waves-effect filter" 
      (click)="toggle1($event)" >Birthday Pics</button>
      <button type="button" id="cp" value="6" class="btn btn-outline-black waves-effect filter" data-rel="1"
        (click)="toggle2($event)">Celebrity Pics</button>
      <button type="button" id="co" value="7" class="btn btn-outline-black waves-effect filter" data-rel="2"
        (click)="toggle3($event)">Commercial Pics</button>

      <button type="button" id="fm" value="4" class="btn btn-outline-black waves-effect filter" data-rel="3"
        (click)="toggle4($event)">Fashion Male Pics</button>
      <button type="button" id="ff" value="5" class="btn btn-outline-black waves-effect filter" data-rel="4"
        (click)="toggle5($event)">Fashion Female Pics</button>
      <button type="button" id="pw" value="2" class="btn btn-outline-black waves-effect filter" data-rel="5"
        (click)="toggle6($event)">Pre Wedding Pics</button>
      <button type="button" id="wp" value="3" class="btn btn-outline-black waves-effect filter" data-rel="6"
        (click)="toggle7($event)">Wedding Pics</button>

    </div>

  </div>


