
<div class="w3-container w3-lobster">
  <p class="w3-xxlarge">Contact Information</p>
</div>

<div class="table-content">
    <div class="col-md-12">

        <div class="items_per_page">
            <span class="items_per_page_text">Items Per Page</span>
            <select id="PerPage" class="" [(ngModel)]="pageSize">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
            </select>
        </div>
        <div class="search_div">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="search_icon" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search.....">
        </div>
    </div>
    <table class="table table-striped " id="customers">
        <tr>

            <th>Name</th>
            <th>Mobile-No</th>
            <th>Email-Id</th>
            <th>Address</th>
            <th>Remarks</th>
          

        </tr>
        <tr  *ngFor="let item of approvedApplications | filter:searchText | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index" id={{item.applicationid}}>

            <td>
                {{item.name}}</td>
            <td>{{ item.mobile}}</td>
            <td>{{ item.email}}</td>
            <td>{{ item.address }}</td>
            <td>{{ item. remarks}}</td>
         

        </tr>

    </table>
    <div class="paginateDiv">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>